---
import { cn, sluglify } from '@/utils'

const { name = 'View All', activeCategory } = Astro.props
const currentPath = Astro.url.pathname
const unsluglifyNameCategory = sluglify(name.toLowerCase())

const isActive =
	activeCategory?.toLocaleLowerCase() === unsluglifyNameCategory ||
	(currentPath === '/' && name === 'View All')
---

<a
	href={name === 'View All' ? '/' : sluglify(`/category/${unsluglifyNameCategory}/1`)}
	class={cn(
		`text-zinc-950 border-b hover:text-optmaticBlue pb-2.5 first-letter:uppercase font-medium hover:optmaticBlue border-opacity-0 hover:border-opacity-0 border-optmaticBlue transition-colors duration-150 ease-linear`,
		isActive && `border-[#2664e9] border-b text-[#2664e9] z-10 border-opacity-100`
	)}
>
	{name}
</a>
