---
export interface Props {
	tag: string
}
const { tag } = Astro.props
---

<a href={`/tags/${tag.toLowerCase()}`} aria-label={tag}>
	<span
		class='bg-optmaticBlue mx-2 border border-black font-semibold text-white shadow text-sm w-fit px-2 py-1 md:px-5 md:py-2 rounded-full'
	>
		{tag ?? 'Blog Tag'}
	</span>
</a>
